<!DOCTYPE html>
<html lang="en">

<head>

    <title>This is a burger shop</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>

    <link rel="stylesheet" href="css/deli-very.css">
    <script src="/vue/vue.js" defer></script>
    
    </head>


<body>

    <main>
        <section id="top">
            <h1 id="rubrik">Welcome to this generic burger shop!</h1>
            <img id="pic" src="http://i.huffpost.com/gen/1860694/images/o-GRILLING-facebook.jpg" alt="grill">
        </section>
    </main>
    <section id="burgers">
        <h2 id="chooseYourBurger">Choose your burger:</h2 id="burger1">

        <div id="burgerList">
            <div class="burgerField" v-for="burger in menu">
                <p>{{burger.name}}</p>
                <img :src=burger.img alt="Span" title="Picture of hamburger" height="300">
                <br>
                <input type="checkbox" name="burgerBox" :value=burger.name> One of those!<br>
                <ul>
                    <li>{{burger.desc}}</li>
                    <li>{{burger.contains}}</li>
                </ul>
            </div>
    </section>
    <section>
        <h2>Delivery information: </h2>
        <p>Please enter your information below.</p>
        <section id="contact">
            <form id="infoform">
                <p>
                    <label for="Full name">Full name:</label><br>
                    <input type="text" id="name" name="fn" required="required" placeholder="First and last name" />
                </p>
                <p>
                    <label for="E-mail">E-mail:</label><br>
                    <input type="text" id="E-mail" name="mail" required="required" placeholder="E-mail adress" />
                </p>

                <!--Map is here!-->
                <h1> Click in the map! </h1>
                <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
                <div class="view-box">
                  <div id="dots" v-on:click="displayOrder">
                      <div 
                        v-bind:style="{ left: position.x + 'px', top: position.y + 'px'}">
                        T
                      </div>
                  </div>
                </div>
                <p>
                    <label for="Payment type">Payment method</label><br />
                    <select id="payment" name="payment">
                        <option selected="selected">Hard Cash</option>
                        <option>Card</option>
                        <option>Check</option>
                        <option>Bitcoin</option>
                    </select>
                </p>
                <input type="radio" name="gender" value="male" checked="checked"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="secret"> Do not wish to tell<br>
            </form>
            <button id="submitButton" type="submit" v-on:click="markDone"><img
                    src="https://www.cabinetjoint.com/wp-content/uploads/2015/09/icon-send-300x191.png" height="15" />
                Send personal data to suspicious-looking site</button>
        </section>
    </section>
    <p id="recOrder"></p>

    </div>
    <footer>
        <hr>
        <p>©Gereric burgers 2020</p>
    </footer>
</body>

</html>