body {
    font-family: arial;
    font-size: 1.2em;
    margin: 0 auto;
}
.contains {
    font-weight: bold;
    color: red;
}
#burgers {
    background-color: black;
    color: white;
}
#info {
   
}
button:hover {
    cursor: pointer;
    background-color: blue;
}
table {
    width: 100%;
    margin: 0 auto;
}