body {
    font-family: arial;
    font-size: 1.2em;
    margin: 0 auto;
}
.contains {
    font-weight: bold;
    color: red;
}
#burgers {
    background-color: black;
    color: white;
    border-style: dashed;
    border-color: white;
}
#contact {
    border-style: dashed;
    border-color: black;
}
button {
    margin: 3px;
}
button:hover {
    cursor: pointer;
    background-color: blue;
}
table {
    width: 100%;
    margin: 0 auto;
}
#infoform {
    padding: 3px;
}
#burgertable {
    padding: 3px;
}
section {
    margin: 3px;
}